* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(/files/images/city.jpg);
    background-size: cover;
    font: 100%/1.5em Arial, Helvetica, sans-serif;
}

.left-panel {
    padding: 10px;
    border: #363636;
    background: #aebcbf; /* Old browsers */
    background: -moz-linear-gradient(top, #aebcbf 0%, #0a0e0a 0%, #6e7774 23%, #6e7774 66%, #6e7774 66%, #6e7774 70%, #6e7774 70%, #6e7774 81%, #6e7774 82%, #0a0e0a 100%, #0a0809 100%);
    background: -webkit-linear-gradient(top, #aebcbf 0%, #0a0e0a 0%, #6e7774 23%, #6e7774 66%, #6e7774 66%, #6e7774 70%, #6e7774 70%, #6e7774 81%, #6e7774 82%, #0a0e0a 100%, #0a0809 100%);
    background: linear-gradient(to bottom, #aebcbf 0%, #0a0e0a 0%, #6e7774 23%, #6e7774 66%, #6e7774 66%, #6e7774 70%, #6e7774 70%, #6e7774 81%, #6e7774 82%, #0a0e0a 100%, #0a0809 100%);
}

.content {
    background-color: #515e63;
    padding: 5px;
    border-style: solid;
}

.content-news {
    margin: 20px;
    padding: 20px;
    border: 3px solid rgba(7, 7, 7, 1);
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font: normal 1.2em "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgba(28, 0, 0, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: pre-line;
    background: #a8a8a8;
}

.image {
    width: 100%;
    height: auto;
}

.content-news h2 {
    font-size: 1.8em;
    background: #a8a8a8;
}

.action {
    margin: 5px 0;
}

.logo {
    width: 12%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container .header {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.container .footer {
    font-size: 2em;
    color: black;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.container .footer span {
    background-color: #6e7774;
}

.container a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font: 100%/1.5em Arial, Helvetica, sans-serif;
}

.demo {
    margin: auto;
    text-align: center;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.demo th {
    padding: 5px;
    border: 1px solid #C0C0C0;
    background: #F0F0F0;
}

.demo td {
    padding: 5px;
    border: 1px solid #C0C0C0;
}

ul.menu {
    list-style-type: none;
    float: right;
}

ul.menu li {
    font: normal 1.7em/normal Georgia, serif;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #3e4142;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #515e63;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
}

ul.menu li:hover {
    background-color: grey;
}

ul.menu-left {
    list-style-type: none;
    float: left;
}

ul.menu-left li {
    font: normal 1.7em/normal Georgia, serif;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #3e4142;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #515e63;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
}

ul.menu-left li:hover {
    background-color: grey;
}

.btn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #3e4142;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #515e63;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font: 100%/1.5em Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
}

.btn:hover {
    background-color: grey;
}

.simple-form {
    text-align: center;
    font: 100%/1.5em Arial, Helvetica, sans-serif;
    border: 1px solid #C0C0C0;
    background-color: rgba(168, 168, 168, 0.7);
    padding: 10px;
    margin: 10px;
}

.simple-text {
    -o-text-overflow: clip;
    text-overflow: clip;
    color: #C0C0C0;
    font: 100%/1.3em Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #515e63;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.simple-text {
    -o-text-overflow: clip;
    text-overflow: clip;
    color: #C0C0C0;
    font: 100%/1.3em Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #515e63;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}


.simple-text:valid {
    background-color: cadetblue;
    color: #0a0e0a;
}

.simple-label {
    border: transparent;
    outline: none;
    color: #0a0809;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-weight: 600;
    background-color: transparent;
    width: 120px;
}

.simple-text-table {
    -o-text-overflow: clip;
    text-overflow: clip;
    color: #0a0809;
    font: 100%/1em Arial, Helvetica, sans-serif;
    padding: 7px;
    margin: 7px;
    background-color: ghostwhite;
}

table.game {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;
    background: cadetblue;
}

table.game td {
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: 700;
    height: 70px;
    width: 50px;
}

.cent {
    text-align: center;
}

.userinf {
    font: 1.5em Arial, Helvetica, sans-serif;
    font-weight: 600;
}

table.game td.red {
    color: red;
    border: 1px solid white;
}

table.game td.black {
    color: #0e0e0e;
    border: 1px solid white;
}

table.game td.non {
    background-color: transparent;
    border: transparent;
}

table.game td.hor {
    width: 50px;
    height: 10px;
}

table.game td.ver {
    height: 70px;
    width: 10px;
}

table.game td.cen {
    height: 10px;
    width: 10px;
}

.le {
    border: 1px solid white;
}

.container .cols {
    float: left;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
}

.hided {
    display: none;
}

.container .cols.col-1 {
    width: 8.33%
}

.container .cols.col-2 {
    width: 16.66%
}

.container .cols.col-3 {
    width: 25%
}

.container .cols.col-4 {
    width: 33.33%
}

.container .cols.col-5 {
    width: 41.66%
}

.container .cols.col-6 {
    width: 50%
}

.container .cols.col-7 {
    width: 58.33%
}

.container .cols.col-8 {
    width: 66.66%
}

.container .cols.col-9 {
    width: 75%
}

.container .cols.col-10 {
    width: 83.33%
}

.container .cols.col-11 {
    width: 91.66%
}

.container .cols.col-12 {
    width: 100%
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.row:after,
.clear:after {
    clear: both;
}

@media only screen and (max-width: 1240px) {

    .container {
        width: 80%;
    }

    ul.menu {
        list-style-type: none;
        float: right;
    }

    ul.menu li {
        padding: 5px 10px;
    }

    .container a {
        font: normal 1.5em/normal Georgia, serif;
    }
}

@media only screen and (max-width: 740px) {

    .container {
        width: 90%;
    }

    .content-news {
        margin: 3px;
        font-size: 1em;
    }

    .content-news h2 {
        font-size: 1.2em;
        background: #a8a8a8;
    }

    ul.menu {
        list-style-type: none;
        float: right;
    }

    ul.menu li {
        padding: 1px 2px;
    }

    .container a {
        font: normal 1.2em/normal Georgia, serif;
    }
}

@media only screen and (max-width: 440px) {

    .container {
        width: 90%;
    }

    .content-news {
        margin: 3px;
        font-size: 0.7em;
    }

    .content-news h2 {
        font-size: 1em;
        background: #a8a8a8;
    }

    ul.menu {
        float: left;
        list-style-type: none;
    }

    ul.menu li {
        display: block;
        padding: 1px 2px;
    }

    .container a {
        font: normal 1em/normal Georgia, serif;
    }
}

ul.btnslst {
    list-style-type: none;
    float: left;
    margin: 30px;
}

ul.btnslst li {
    font: normal 1em/normal Georgia, serif;
    display: inline-block;
}